
<div>
    <h2><span data-translate="travisMysqlApp.fieldTestPagerEntity.detail.title">Field Test Pager Entity</span> {{vm.fieldTestPagerEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.stringJade">String Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.stringJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.stringRequiredJade">String Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.stringRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.stringMinlengthJade">String Minlength Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.stringMinlengthJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.stringMaxlengthJade">String Maxlength Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.stringMaxlengthJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.stringPatternJade">String Pattern Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.stringPatternJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.integerJade">Integer Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.integerJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.integerRequiredJade">Integer Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.integerRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.integerMinJade">Integer Min Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.integerMinJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.integerMaxJade">Integer Max Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.integerMaxJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.longJade">Long Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.longJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.longRequiredJade">Long Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.longRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.longMinJade">Long Min Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.longMinJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.longMaxJade">Long Max Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.longMaxJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.floatJade">Float Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.floatJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.floatRequiredJade">Float Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.floatRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.floatMinJade">Float Min Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.floatMinJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.floatMaxJade">Float Max Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.floatMaxJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.doubleRequiredJade">Double Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.doubleRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.doubleMinJade">Double Min Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.doubleMinJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.doubleMaxJade">Double Max Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.doubleMaxJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.bigDecimalRequiredJade">Big Decimal Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.bigDecimalRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.bigDecimalMinJade">Big Decimal Min Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.bigDecimalMinJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.bigDecimalMaxJade">Big Decimal Max Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.bigDecimalMaxJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.localDateJade">Local Date Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.localDateJade | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.localDateRequiredJade">Local Date Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.localDateRequiredJade | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.zonedDateTimeJade">Zoned Date Time Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.zonedDateTimeJade | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.zonedDateTimeRequiredJade">Zoned Date Time Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.zonedDateTimeRequiredJade | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.booleanJade">Boolean Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.booleanJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.booleanRequiredJade">Boolean Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.booleanRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.enumJade">Enum Jade</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumFieldClass.' + vm.fieldTestPagerEntity.enumJade}}">{{vm.fieldTestPagerEntity.enumJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.enumRequiredJade">Enum Required Jade</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumRequiredFieldClass.' + vm.fieldTestPagerEntity.enumRequiredJade}}">{{vm.fieldTestPagerEntity.enumRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteImageJade">Byte Image Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteImageJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteImageJadeContentType, vm.fieldTestPagerEntity.byteImageJade)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPagerEntity.byteImageJadeContentType + ';base64,' + vm.fieldTestPagerEntity.byteImageJade}}" style="max-width: 100%;" alt="fieldTestPagerEntity image"/>
                </a>
                {{vm.fieldTestPagerEntity.byteImageJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteImageJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteImageRequiredJade">Byte Image Required Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteImageRequiredJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteImageRequiredJadeContentType, vm.fieldTestPagerEntity.byteImageRequiredJade)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPagerEntity.byteImageRequiredJadeContentType + ';base64,' + vm.fieldTestPagerEntity.byteImageRequiredJade}}" style="max-width: 100%;" alt="fieldTestPagerEntity image"/>
                </a>
                {{vm.fieldTestPagerEntity.byteImageRequiredJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteImageRequiredJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteImageMinbytesJade">Byte Image Minbytes Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteImageMinbytesJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteImageMinbytesJadeContentType, vm.fieldTestPagerEntity.byteImageMinbytesJade)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPagerEntity.byteImageMinbytesJadeContentType + ';base64,' + vm.fieldTestPagerEntity.byteImageMinbytesJade}}" style="max-width: 100%;" alt="fieldTestPagerEntity image"/>
                </a>
                {{vm.fieldTestPagerEntity.byteImageMinbytesJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteImageMinbytesJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteImageMaxbytesJade">Byte Image Maxbytes Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteImageMaxbytesJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteImageMaxbytesJadeContentType, vm.fieldTestPagerEntity.byteImageMaxbytesJade)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPagerEntity.byteImageMaxbytesJadeContentType + ';base64,' + vm.fieldTestPagerEntity.byteImageMaxbytesJade}}" style="max-width: 100%;" alt="fieldTestPagerEntity image"/>
                </a>
                {{vm.fieldTestPagerEntity.byteImageMaxbytesJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteImageMaxbytesJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteAnyJade">Byte Any Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteAnyJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteAnyJadeContentType, vm.fieldTestPagerEntity.byteAnyJade)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPagerEntity.byteAnyJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteAnyJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteAnyRequiredJade">Byte Any Required Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteAnyRequiredJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteAnyRequiredJadeContentType, vm.fieldTestPagerEntity.byteAnyRequiredJade)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPagerEntity.byteAnyRequiredJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteAnyRequiredJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteAnyMinbytesJade">Byte Any Minbytes Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteAnyMinbytesJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteAnyMinbytesJadeContentType, vm.fieldTestPagerEntity.byteAnyMinbytesJade)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPagerEntity.byteAnyMinbytesJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteAnyMinbytesJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteAnyMaxbytesJade">Byte Any Maxbytes Jade</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPagerEntity.byteAnyMaxbytesJade">
                <a ng-click="vm.openFile(vm.fieldTestPagerEntity.byteAnyMaxbytesJadeContentType, vm.fieldTestPagerEntity.byteAnyMaxbytesJade)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPagerEntity.byteAnyMaxbytesJadeContentType}}, {{vm.byteSize(vm.fieldTestPagerEntity.byteAnyMaxbytesJade)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteTextJade">Byte Text Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.byteTextJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteTextRequiredJade">Byte Text Required Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.byteTextRequiredJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteTextMinbytesJade">Byte Text Minbytes Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.byteTextMinbytesJade}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPagerEntity.byteTextMaxbytesJade">Byte Text Maxbytes Jade</span></dt>
        <dd>
            <span>{{vm.fieldTestPagerEntity.byteTextMaxbytesJade}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="field-test-pager-entity-detail.edit({id:vm.fieldTestPagerEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
