
<div>
    <h2><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.detail.title">Field Test Service Class Entity</span> {{vm.fieldTestServiceClassEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.stringBob">String Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.stringBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.stringRequiredBob">String Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.stringRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.stringMinlengthBob">String Minlength Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.stringMinlengthBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.stringMaxlengthBob">String Maxlength Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.stringMaxlengthBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.stringPatternBob">String Pattern Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.stringPatternBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.integerBob">Integer Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.integerBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.integerRequiredBob">Integer Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.integerRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.integerMinBob">Integer Min Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.integerMinBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.integerMaxBob">Integer Max Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.integerMaxBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.longBob">Long Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.longBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.longRequiredBob">Long Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.longRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.longMinBob">Long Min Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.longMinBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.longMaxBob">Long Max Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.longMaxBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.floatBob">Float Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.floatBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.floatRequiredBob">Float Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.floatRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.floatMinBob">Float Min Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.floatMinBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.floatMaxBob">Float Max Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.floatMaxBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.doubleRequiredBob">Double Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.doubleRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.doubleMinBob">Double Min Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.doubleMinBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.doubleMaxBob">Double Max Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.doubleMaxBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.bigDecimalRequiredBob">Big Decimal Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.bigDecimalRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.bigDecimalMinBob">Big Decimal Min Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.bigDecimalMinBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.bigDecimalMaxBob">Big Decimal Max Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.bigDecimalMaxBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.localDateBob">Local Date Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.localDateBob | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.localDateRequiredBob">Local Date Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.localDateRequiredBob | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.zonedDateTimeBob">Zoned Date Time Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.zonedDateTimeBob | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.zonedDateTimeRequiredBob">Zoned Date Time Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.zonedDateTimeRequiredBob | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.booleanBob">Boolean Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.booleanBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.booleanRequiredBob">Boolean Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.booleanRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.enumBob">Enum Bob</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumFieldClass.' + vm.fieldTestServiceClassEntity.enumBob}}">{{vm.fieldTestServiceClassEntity.enumBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.enumRequiredBob">Enum Required Bob</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumRequiredFieldClass.' + vm.fieldTestServiceClassEntity.enumRequiredBob}}">{{vm.fieldTestServiceClassEntity.enumRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteImageBob">Byte Image Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteImageBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteImageBobContentType, vm.fieldTestServiceClassEntity.byteImageBob)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceClassEntity.byteImageBobContentType + ';base64,' + vm.fieldTestServiceClassEntity.byteImageBob}}" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{vm.fieldTestServiceClassEntity.byteImageBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteImageBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteImageRequiredBob">Byte Image Required Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteImageRequiredBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteImageRequiredBobContentType, vm.fieldTestServiceClassEntity.byteImageRequiredBob)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceClassEntity.byteImageRequiredBobContentType + ';base64,' + vm.fieldTestServiceClassEntity.byteImageRequiredBob}}" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{vm.fieldTestServiceClassEntity.byteImageRequiredBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteImageRequiredBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteImageMinbytesBob">Byte Image Minbytes Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteImageMinbytesBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteImageMinbytesBobContentType, vm.fieldTestServiceClassEntity.byteImageMinbytesBob)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceClassEntity.byteImageMinbytesBobContentType + ';base64,' + vm.fieldTestServiceClassEntity.byteImageMinbytesBob}}" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{vm.fieldTestServiceClassEntity.byteImageMinbytesBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteImageMinbytesBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteImageMaxbytesBob">Byte Image Maxbytes Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteImageMaxbytesBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteImageMaxbytesBobContentType, vm.fieldTestServiceClassEntity.byteImageMaxbytesBob)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceClassEntity.byteImageMaxbytesBobContentType + ';base64,' + vm.fieldTestServiceClassEntity.byteImageMaxbytesBob}}" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{vm.fieldTestServiceClassEntity.byteImageMaxbytesBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteImageMaxbytesBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteAnyBob">Byte Any Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteAnyBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteAnyBobContentType, vm.fieldTestServiceClassEntity.byteAnyBob)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceClassEntity.byteAnyBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteAnyBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteAnyRequiredBob">Byte Any Required Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteAnyRequiredBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteAnyRequiredBobContentType, vm.fieldTestServiceClassEntity.byteAnyRequiredBob)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceClassEntity.byteAnyRequiredBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteAnyRequiredBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteAnyMinbytesBob">Byte Any Minbytes Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteAnyMinbytesBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteAnyMinbytesBobContentType, vm.fieldTestServiceClassEntity.byteAnyMinbytesBob)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceClassEntity.byteAnyMinbytesBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteAnyMinbytesBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteAnyMaxbytesBob">Byte Any Maxbytes Bob</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceClassEntity.byteAnyMaxbytesBob">
                <a ng-click="vm.openFile(vm.fieldTestServiceClassEntity.byteAnyMaxbytesBobContentType, vm.fieldTestServiceClassEntity.byteAnyMaxbytesBob)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceClassEntity.byteAnyMaxbytesBobContentType}}, {{vm.byteSize(vm.fieldTestServiceClassEntity.byteAnyMaxbytesBob)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteTextBob">Byte Text Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.byteTextBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteTextRequiredBob">Byte Text Required Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.byteTextRequiredBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteTextMinbytesBob">Byte Text Minbytes Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.byteTextMinbytesBob}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceClassEntity.byteTextMaxbytesBob">Byte Text Maxbytes Bob</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceClassEntity.byteTextMaxbytesBob}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="field-test-service-class-entity-detail.edit({id:vm.fieldTestServiceClassEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
