
<div>
    <h2><span data-translate="travisMysqlApp.fieldTestEntity.detail.title">Field Test Entity</span> {{vm.fieldTestEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.stringTom">String Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.stringTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.stringRequiredTom">String Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.stringRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.stringMinlengthTom">String Minlength Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.stringMinlengthTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.stringMaxlengthTom">String Maxlength Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.stringMaxlengthTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.stringPatternTom">String Pattern Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.stringPatternTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.integerTom">Integer Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.integerTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.integerRequiredTom">Integer Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.integerRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.integerMinTom">Integer Min Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.integerMinTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.integerMaxTom">Integer Max Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.integerMaxTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.longTom">Long Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.longTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.longRequiredTom">Long Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.longRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.longMinTom">Long Min Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.longMinTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.longMaxTom">Long Max Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.longMaxTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.floatTom">Float Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.floatTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.floatRequiredTom">Float Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.floatRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.floatMinTom">Float Min Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.floatMinTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.floatMaxTom">Float Max Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.floatMaxTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.doubleRequiredTom">Double Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.doubleRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.doubleMinTom">Double Min Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.doubleMinTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.doubleMaxTom">Double Max Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.doubleMaxTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.bigDecimalRequiredTom">Big Decimal Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.bigDecimalRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.bigDecimalMinTom">Big Decimal Min Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.bigDecimalMinTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.bigDecimalMaxTom">Big Decimal Max Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.bigDecimalMaxTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.localDateTom">Local Date Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.localDateTom | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.localDateRequiredTom">Local Date Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.localDateRequiredTom | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.zonedDateTimeTom">Zoned Date Time Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.zonedDateTimeTom | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.zonedDateTimeRequiredTom">Zoned Date Time Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.zonedDateTimeRequiredTom | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.booleanTom">Boolean Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.booleanTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.booleanRequiredTom">Boolean Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.booleanRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.enumTom">Enum Tom</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumFieldClass.' + vm.fieldTestEntity.enumTom}}">{{vm.fieldTestEntity.enumTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.enumRequiredTom">Enum Required Tom</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumRequiredFieldClass.' + vm.fieldTestEntity.enumRequiredTom}}">{{vm.fieldTestEntity.enumRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteImageTom">Byte Image Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteImageTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteImageTomContentType, vm.fieldTestEntity.byteImageTom)">
                    <img data-ng-src="{{'data:' + vm.fieldTestEntity.byteImageTomContentType + ';base64,' + vm.fieldTestEntity.byteImageTom}}" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{vm.fieldTestEntity.byteImageTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteImageTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteImageRequiredTom">Byte Image Required Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteImageRequiredTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteImageRequiredTomContentType, vm.fieldTestEntity.byteImageRequiredTom)">
                    <img data-ng-src="{{'data:' + vm.fieldTestEntity.byteImageRequiredTomContentType + ';base64,' + vm.fieldTestEntity.byteImageRequiredTom}}" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{vm.fieldTestEntity.byteImageRequiredTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteImageRequiredTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteImageMinbytesTom">Byte Image Minbytes Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteImageMinbytesTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteImageMinbytesTomContentType, vm.fieldTestEntity.byteImageMinbytesTom)">
                    <img data-ng-src="{{'data:' + vm.fieldTestEntity.byteImageMinbytesTomContentType + ';base64,' + vm.fieldTestEntity.byteImageMinbytesTom}}" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{vm.fieldTestEntity.byteImageMinbytesTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteImageMinbytesTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteImageMaxbytesTom">Byte Image Maxbytes Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteImageMaxbytesTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteImageMaxbytesTomContentType, vm.fieldTestEntity.byteImageMaxbytesTom)">
                    <img data-ng-src="{{'data:' + vm.fieldTestEntity.byteImageMaxbytesTomContentType + ';base64,' + vm.fieldTestEntity.byteImageMaxbytesTom}}" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{vm.fieldTestEntity.byteImageMaxbytesTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteImageMaxbytesTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteAnyTom">Byte Any Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteAnyTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteAnyTomContentType, vm.fieldTestEntity.byteAnyTom)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestEntity.byteAnyTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteAnyTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteAnyRequiredTom">Byte Any Required Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteAnyRequiredTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteAnyRequiredTomContentType, vm.fieldTestEntity.byteAnyRequiredTom)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestEntity.byteAnyRequiredTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteAnyRequiredTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteAnyMinbytesTom">Byte Any Minbytes Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteAnyMinbytesTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteAnyMinbytesTomContentType, vm.fieldTestEntity.byteAnyMinbytesTom)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestEntity.byteAnyMinbytesTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteAnyMinbytesTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteAnyMaxbytesTom">Byte Any Maxbytes Tom</span></dt>
        <dd>
            <div ng-if="vm.fieldTestEntity.byteAnyMaxbytesTom">
                <a ng-click="vm.openFile(vm.fieldTestEntity.byteAnyMaxbytesTomContentType, vm.fieldTestEntity.byteAnyMaxbytesTom)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestEntity.byteAnyMaxbytesTomContentType}}, {{vm.byteSize(vm.fieldTestEntity.byteAnyMaxbytesTom)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteTextTom">Byte Text Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.byteTextTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteTextRequiredTom">Byte Text Required Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.byteTextRequiredTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteTextMinbytesTom">Byte Text Minbytes Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.byteTextMinbytesTom}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestEntity.byteTextMaxbytesTom">Byte Text Maxbytes Tom</span></dt>
        <dd>
            <span>{{vm.fieldTestEntity.byteTextMaxbytesTom}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="field-test-entity-detail.edit({id:vm.fieldTestEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
