
<div>
    <h2><span data-translate="travisMysqlApp.fieldTestPaginationEntity.detail.title">Field Test Pagination Entity</span> {{vm.fieldTestPaginationEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.stringAlice">String Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.stringAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.stringRequiredAlice">String Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.stringRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.stringMinlengthAlice">String Minlength Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.stringMinlengthAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.stringMaxlengthAlice">String Maxlength Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.stringMaxlengthAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.stringPatternAlice">String Pattern Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.stringPatternAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.integerAlice">Integer Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.integerAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.integerRequiredAlice">Integer Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.integerRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.integerMinAlice">Integer Min Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.integerMinAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.integerMaxAlice">Integer Max Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.integerMaxAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.longAlice">Long Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.longAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.longRequiredAlice">Long Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.longRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.longMinAlice">Long Min Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.longMinAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.longMaxAlice">Long Max Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.longMaxAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.floatAlice">Float Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.floatAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.floatRequiredAlice">Float Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.floatRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.floatMinAlice">Float Min Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.floatMinAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.floatMaxAlice">Float Max Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.floatMaxAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.doubleRequiredAlice">Double Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.doubleRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.doubleMinAlice">Double Min Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.doubleMinAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.doubleMaxAlice">Double Max Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.doubleMaxAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.bigDecimalRequiredAlice">Big Decimal Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.bigDecimalRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.bigDecimalMinAlice">Big Decimal Min Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.bigDecimalMinAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.bigDecimalMaxAlice">Big Decimal Max Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.bigDecimalMaxAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.localDateAlice">Local Date Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.localDateAlice | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.localDateRequiredAlice">Local Date Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.localDateRequiredAlice | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.zonedDateTimeAlice">Zoned Date Time Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.zonedDateTimeAlice | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.zonedDateTimeRequiredAlice">Zoned Date Time Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.zonedDateTimeRequiredAlice | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.booleanAlice">Boolean Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.booleanAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.booleanRequiredAlice">Boolean Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.booleanRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.enumAlice">Enum Alice</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumFieldClass.' + vm.fieldTestPaginationEntity.enumAlice}}">{{vm.fieldTestPaginationEntity.enumAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.enumRequiredAlice">Enum Required Alice</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumRequiredFieldClass.' + vm.fieldTestPaginationEntity.enumRequiredAlice}}">{{vm.fieldTestPaginationEntity.enumRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteImageAlice">Byte Image Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteImageAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteImageAliceContentType, vm.fieldTestPaginationEntity.byteImageAlice)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPaginationEntity.byteImageAliceContentType + ';base64,' + vm.fieldTestPaginationEntity.byteImageAlice}}" style="max-width: 100%;" alt="fieldTestPaginationEntity image"/>
                </a>
                {{vm.fieldTestPaginationEntity.byteImageAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteImageAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteImageRequiredAlice">Byte Image Required Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteImageRequiredAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteImageRequiredAliceContentType, vm.fieldTestPaginationEntity.byteImageRequiredAlice)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPaginationEntity.byteImageRequiredAliceContentType + ';base64,' + vm.fieldTestPaginationEntity.byteImageRequiredAlice}}" style="max-width: 100%;" alt="fieldTestPaginationEntity image"/>
                </a>
                {{vm.fieldTestPaginationEntity.byteImageRequiredAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteImageRequiredAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteImageMinbytesAlice">Byte Image Minbytes Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteImageMinbytesAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteImageMinbytesAliceContentType, vm.fieldTestPaginationEntity.byteImageMinbytesAlice)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPaginationEntity.byteImageMinbytesAliceContentType + ';base64,' + vm.fieldTestPaginationEntity.byteImageMinbytesAlice}}" style="max-width: 100%;" alt="fieldTestPaginationEntity image"/>
                </a>
                {{vm.fieldTestPaginationEntity.byteImageMinbytesAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteImageMinbytesAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteImageMaxbytesAlice">Byte Image Maxbytes Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteImageMaxbytesAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteImageMaxbytesAliceContentType, vm.fieldTestPaginationEntity.byteImageMaxbytesAlice)">
                    <img data-ng-src="{{'data:' + vm.fieldTestPaginationEntity.byteImageMaxbytesAliceContentType + ';base64,' + vm.fieldTestPaginationEntity.byteImageMaxbytesAlice}}" style="max-width: 100%;" alt="fieldTestPaginationEntity image"/>
                </a>
                {{vm.fieldTestPaginationEntity.byteImageMaxbytesAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteImageMaxbytesAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteAnyAlice">Byte Any Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteAnyAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteAnyAliceContentType, vm.fieldTestPaginationEntity.byteAnyAlice)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPaginationEntity.byteAnyAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteAnyAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteAnyRequiredAlice">Byte Any Required Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteAnyRequiredAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteAnyRequiredAliceContentType, vm.fieldTestPaginationEntity.byteAnyRequiredAlice)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPaginationEntity.byteAnyRequiredAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteAnyRequiredAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteAnyMinbytesAlice">Byte Any Minbytes Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteAnyMinbytesAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteAnyMinbytesAliceContentType, vm.fieldTestPaginationEntity.byteAnyMinbytesAlice)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPaginationEntity.byteAnyMinbytesAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteAnyMinbytesAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteAnyMaxbytesAlice">Byte Any Maxbytes Alice</span></dt>
        <dd>
            <div ng-if="vm.fieldTestPaginationEntity.byteAnyMaxbytesAlice">
                <a ng-click="vm.openFile(vm.fieldTestPaginationEntity.byteAnyMaxbytesAliceContentType, vm.fieldTestPaginationEntity.byteAnyMaxbytesAlice)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestPaginationEntity.byteAnyMaxbytesAliceContentType}}, {{vm.byteSize(vm.fieldTestPaginationEntity.byteAnyMaxbytesAlice)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteTextAlice">Byte Text Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.byteTextAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteTextRequiredAlice">Byte Text Required Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.byteTextRequiredAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteTextMinbytesAlice">Byte Text Minbytes Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.byteTextMinbytesAlice}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestPaginationEntity.byteTextMaxbytesAlice">Byte Text Maxbytes Alice</span></dt>
        <dd>
            <span>{{vm.fieldTestPaginationEntity.byteTextMaxbytesAlice}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="field-test-pagination-entity-detail.edit({id:vm.fieldTestPaginationEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
