
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBankAccountLabel" data-translate="travisMysqlApp.bankAccount.home.createOrEditLabel">Create or edit a Bank Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bankAccount.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bankAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.bankAccount.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.bankNumber" for="field_bankNumber">Bank Number</label>
            <input type="number" class="form-control" name="bankNumber" id="field_bankNumber"
                    ng-model="vm.bankAccount.bankNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.agencyNumber" for="field_agencyNumber">Agency Number</label>
            <input type="number" class="form-control" name="agencyNumber" id="field_agencyNumber"
                    ng-model="vm.bankAccount.agencyNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.lastOperationDuration" for="field_lastOperationDuration">Last Operation Duration</label>
            <input type="number" class="form-control" name="lastOperationDuration" id="field_lastOperationDuration"
                    ng-model="vm.bankAccount.lastOperationDuration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.meanOperationDuration" for="field_meanOperationDuration">Mean Operation Duration</label>
            <input type="number" class="form-control" name="meanOperationDuration" id="field_meanOperationDuration"
                    ng-model="vm.bankAccount.meanOperationDuration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.balance" for="field_balance">Balance</label>
            <input type="number" class="form-control" name="balance" id="field_balance"
                    ng-model="vm.bankAccount.balance"
                    required/>
            <div ng-show="editForm.balance.$invalid">
                <p class="help-block"
                    ng-show="editForm.balance.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.balance.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.openingDay" for="field_openingDay">Opening Day</label>
                <div class="input-group">
                    <input id="field_openingDay" type="text" class="form-control" name="openingDay" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bankAccount.openingDay" is-open="vm.datePickerOpenStatus.openingDay"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('openingDay')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.lastOperationDate" for="field_lastOperationDate">Last Operation Date</label>
                <div class="input-group">
                    <input id="field_lastOperationDate" type="text" class="form-control" name="lastOperationDate" datetime-picker="{{dateformat}}" ng-model="vm.bankAccount.lastOperationDate" is-open="vm.datePickerOpenStatus.lastOperationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastOperationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.bankAccount.active"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.accountType" for="field_accountType">Account Type</label>
            <select class="form-control" name="accountType" ng-model="vm.bankAccount.accountType" id="field_accountType">
                <option value="CHECKING" data-translate="travisMysqlApp.BankAccountType.CHECKING">CHECKING</option>
                <option value="SAVINGS" data-translate="travisMysqlApp.BankAccountType.SAVINGS">SAVINGS</option>
                <option value="LOAN" data-translate="travisMysqlApp.BankAccountType.LOAN">LOAN</option>
            </select>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAttachment($file, vm.bankAccount)">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.attachment" for="field_attachment">Attachment</label>
            <div>
                <div ng-if="vm.bankAccount.attachment" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.bankAccount.attachmentContentType, vm.bankAccount.attachment)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.bankAccount.attachmentContentType}}, {{vm.byteSize(vm.bankAccount.attachment)}}</span>
                    <button type="button" ng-click="vm.bankAccount.attachment=null;vm.bankAccount.attachmentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAttachment($file, vm.bankAccount)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                    ng-model="vm.bankAccount.attachment"
                    />
            <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                    ng-model="vm.bankAccount.attachmentContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="travisMysqlApp.bankAccount.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.bankAccount.description" ></textarea>
        </div>

        <div class="form-group">
            <label data-translate="travisMysqlApp.bankAccount.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.bankAccount.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
