
<div>
    <h2><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.detail.title">Field Test Service Impl Entity</span> {{vm.fieldTestServiceImplEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.stringMika">String Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.stringMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.stringRequiredMika">String Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.stringRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.stringMinlengthMika">String Minlength Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.stringMinlengthMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.stringMaxlengthMika">String Maxlength Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.stringMaxlengthMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.stringPatternMika">String Pattern Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.stringPatternMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.integerMika">Integer Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.integerMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.integerRequiredMika">Integer Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.integerRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.integerMinMika">Integer Min Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.integerMinMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.integerMaxMika">Integer Max Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.integerMaxMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.longMika">Long Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.longMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.longRequiredMika">Long Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.longRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.longMinMika">Long Min Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.longMinMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.longMaxMika">Long Max Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.longMaxMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.floatMika">Float Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.floatMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.floatRequiredMika">Float Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.floatRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.floatMinMika">Float Min Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.floatMinMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.floatMaxMika">Float Max Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.floatMaxMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.doubleRequiredMika">Double Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.doubleRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.doubleMinMika">Double Min Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.doubleMinMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.doubleMaxMika">Double Max Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.doubleMaxMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.bigDecimalRequiredMika">Big Decimal Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.bigDecimalRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.bigDecimalMinMika">Big Decimal Min Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.bigDecimalMinMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.bigDecimalMaxMika">Big Decimal Max Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.bigDecimalMaxMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.localDateMika">Local Date Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.localDateMika | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.localDateRequiredMika">Local Date Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.localDateRequiredMika | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.zonedDateTimeMika">Zoned Date Time Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.zonedDateTimeMika | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.zonedDateTimeRequiredMika">Zoned Date Time Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.zonedDateTimeRequiredMika | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.booleanMika">Boolean Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.booleanMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.booleanRequiredMika">Boolean Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.booleanRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.enumMika">Enum Mika</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumFieldClass.' + vm.fieldTestServiceImplEntity.enumMika}}">{{vm.fieldTestServiceImplEntity.enumMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.enumRequiredMika">Enum Required Mika</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumRequiredFieldClass.' + vm.fieldTestServiceImplEntity.enumRequiredMika}}">{{vm.fieldTestServiceImplEntity.enumRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteImageMika">Byte Image Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteImageMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteImageMikaContentType, vm.fieldTestServiceImplEntity.byteImageMika)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceImplEntity.byteImageMikaContentType + ';base64,' + vm.fieldTestServiceImplEntity.byteImageMika}}" style="max-width: 100%;" alt="fieldTestServiceImplEntity image"/>
                </a>
                {{vm.fieldTestServiceImplEntity.byteImageMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteImageMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteImageRequiredMika">Byte Image Required Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteImageRequiredMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteImageRequiredMikaContentType, vm.fieldTestServiceImplEntity.byteImageRequiredMika)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceImplEntity.byteImageRequiredMikaContentType + ';base64,' + vm.fieldTestServiceImplEntity.byteImageRequiredMika}}" style="max-width: 100%;" alt="fieldTestServiceImplEntity image"/>
                </a>
                {{vm.fieldTestServiceImplEntity.byteImageRequiredMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteImageRequiredMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteImageMinbytesMika">Byte Image Minbytes Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteImageMinbytesMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteImageMinbytesMikaContentType, vm.fieldTestServiceImplEntity.byteImageMinbytesMika)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceImplEntity.byteImageMinbytesMikaContentType + ';base64,' + vm.fieldTestServiceImplEntity.byteImageMinbytesMika}}" style="max-width: 100%;" alt="fieldTestServiceImplEntity image"/>
                </a>
                {{vm.fieldTestServiceImplEntity.byteImageMinbytesMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteImageMinbytesMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteImageMaxbytesMika">Byte Image Maxbytes Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteImageMaxbytesMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteImageMaxbytesMikaContentType, vm.fieldTestServiceImplEntity.byteImageMaxbytesMika)">
                    <img data-ng-src="{{'data:' + vm.fieldTestServiceImplEntity.byteImageMaxbytesMikaContentType + ';base64,' + vm.fieldTestServiceImplEntity.byteImageMaxbytesMika}}" style="max-width: 100%;" alt="fieldTestServiceImplEntity image"/>
                </a>
                {{vm.fieldTestServiceImplEntity.byteImageMaxbytesMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteImageMaxbytesMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteAnyMika">Byte Any Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteAnyMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteAnyMikaContentType, vm.fieldTestServiceImplEntity.byteAnyMika)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceImplEntity.byteAnyMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteAnyMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteAnyRequiredMika">Byte Any Required Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteAnyRequiredMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteAnyRequiredMikaContentType, vm.fieldTestServiceImplEntity.byteAnyRequiredMika)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceImplEntity.byteAnyRequiredMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteAnyRequiredMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteAnyMinbytesMika">Byte Any Minbytes Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteAnyMinbytesMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteAnyMinbytesMikaContentType, vm.fieldTestServiceImplEntity.byteAnyMinbytesMika)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceImplEntity.byteAnyMinbytesMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteAnyMinbytesMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteAnyMaxbytesMika">Byte Any Maxbytes Mika</span></dt>
        <dd>
            <div ng-if="vm.fieldTestServiceImplEntity.byteAnyMaxbytesMika">
                <a ng-click="vm.openFile(vm.fieldTestServiceImplEntity.byteAnyMaxbytesMikaContentType, vm.fieldTestServiceImplEntity.byteAnyMaxbytesMika)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestServiceImplEntity.byteAnyMaxbytesMikaContentType}}, {{vm.byteSize(vm.fieldTestServiceImplEntity.byteAnyMaxbytesMika)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteTextMika">Byte Text Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.byteTextMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteTextRequiredMika">Byte Text Required Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.byteTextRequiredMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteTextMinbytesMika">Byte Text Minbytes Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.byteTextMinbytesMika}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestServiceImplEntity.byteTextMaxbytesMika">Byte Text Maxbytes Mika</span></dt>
        <dd>
            <span>{{vm.fieldTestServiceImplEntity.byteTextMaxbytesMika}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="field-test-service-impl-entity-detail.edit({id:vm.fieldTestServiceImplEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
