
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTestManyToManyLabel" data-translate="travisMysqlApp.testManyToMany.home.createOrEditLabel">Create or edit a Test Many To Many</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.testManyToMany.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.testManyToMany.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testEntity" for="field_testEntity">Test Entity</label>
            <select class="form-control" id="field_testEntity" multiple name="testEntity" ng-model="vm.testManyToMany.testEntities" ng-options="testEntity as testEntity.id for testEntity in vm.testentities track by testEntity.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testMapstruct" for="field_testMapstruct">Test Mapstruct</label>
            <select class="form-control" id="field_testMapstruct" multiple name="testMapstruct" ng-model="vm.testManyToMany.testMapstructs" ng-options="testMapstruct as testMapstruct.id for testMapstruct in vm.testmapstructs track by testMapstruct.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testServiceClass" for="field_testServiceClass">Test Service Class</label>
            <select class="form-control" id="field_testServiceClass" multiple name="testServiceClass" ng-model="vm.testManyToMany.testServiceClasses" ng-options="testServiceClass as testServiceClass.id for testServiceClass in vm.testserviceclasses track by testServiceClass.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testServiceImpl" for="field_testServiceImpl">Test Service Impl</label>
            <select class="form-control" id="field_testServiceImpl" multiple name="testServiceImpl" ng-model="vm.testManyToMany.testServiceImpls" ng-options="testServiceImpl as testServiceImpl.id for testServiceImpl in vm.testserviceimpls track by testServiceImpl.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testInfiniteScroll" for="field_testInfiniteScroll">Test Infinite Scroll</label>
            <select class="form-control" id="field_testInfiniteScroll" multiple name="testInfiniteScroll" ng-model="vm.testManyToMany.testInfiniteScrolls" ng-options="testInfiniteScroll as testInfiniteScroll.id for testInfiniteScroll in vm.testinfinitescrolls track by testInfiniteScroll.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testPager" for="field_testPager">Test Pager</label>
            <select class="form-control" id="field_testPager" multiple name="testPager" ng-model="vm.testManyToMany.testPagers" ng-options="testPager as testPager.id for testPager in vm.testpagers track by testPager.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testPagination" for="field_testPagination">Test Pagination</label>
            <select class="form-control" id="field_testPagination" multiple name="testPagination" ng-model="vm.testManyToMany.testPaginations" ng-options="testPagination as testPagination.id for testPagination in vm.testpaginations track by testPagination.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="travisMysqlApp.testManyToMany.testCustomTableName" for="field_testCustomTableName">Test Custom Table Name</label>
            <select class="form-control" id="field_testCustomTableName" multiple name="testCustomTableName" ng-model="vm.testManyToMany.testCustomTableNames" ng-options="testCustomTableName as testCustomTableName.id for testCustomTableName in vm.testcustomtablenames track by testCustomTableName.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
