
<div>
    <h2><span data-translate="travisMysqlApp.fieldTestMapstructEntity.detail.title">Field Test Mapstruct Entity</span> {{vm.fieldTestMapstructEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.stringEva">String Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.stringEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.stringRequiredEva">String Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.stringRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.stringMinlengthEva">String Minlength Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.stringMinlengthEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.stringMaxlengthEva">String Maxlength Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.stringMaxlengthEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.stringPatternEva">String Pattern Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.stringPatternEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.integerEva">Integer Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.integerEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.integerRequiredEva">Integer Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.integerRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.integerMinEva">Integer Min Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.integerMinEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.integerMaxEva">Integer Max Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.integerMaxEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.longEva">Long Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.longEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.longRequiredEva">Long Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.longRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.longMinEva">Long Min Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.longMinEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.longMaxEva">Long Max Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.longMaxEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.floatEva">Float Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.floatEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.floatRequiredEva">Float Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.floatRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.floatMinEva">Float Min Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.floatMinEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.floatMaxEva">Float Max Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.floatMaxEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.doubleRequiredEva">Double Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.doubleRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.doubleMinEva">Double Min Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.doubleMinEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.doubleMaxEva">Double Max Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.doubleMaxEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.bigDecimalRequiredEva">Big Decimal Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.bigDecimalRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.bigDecimalMinEva">Big Decimal Min Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.bigDecimalMinEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.bigDecimalMaxEva">Big Decimal Max Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.bigDecimalMaxEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.localDateEva">Local Date Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.localDateEva | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.localDateRequiredEva">Local Date Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.localDateRequiredEva | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.zonedDateTimeEva">Zoned Date Time Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.zonedDateTimeEva | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.zonedDateTimeRequiredEva">Zoned Date Time Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.zonedDateTimeRequiredEva | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.booleanEva">Boolean Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.booleanEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.booleanRequiredEva">Boolean Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.booleanRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.enumEva">Enum Eva</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumFieldClass.' + vm.fieldTestMapstructEntity.enumEva}}">{{vm.fieldTestMapstructEntity.enumEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.enumRequiredEva">Enum Required Eva</span></dt>
        <dd>
            <span data-translate="{{'travisMysqlApp.EnumRequiredFieldClass.' + vm.fieldTestMapstructEntity.enumRequiredEva}}">{{vm.fieldTestMapstructEntity.enumRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteImageEva">Byte Image Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteImageEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteImageEvaContentType, vm.fieldTestMapstructEntity.byteImageEva)">
                    <img data-ng-src="{{'data:' + vm.fieldTestMapstructEntity.byteImageEvaContentType + ';base64,' + vm.fieldTestMapstructEntity.byteImageEva}}" style="max-width: 100%;" alt="fieldTestMapstructEntity image"/>
                </a>
                {{vm.fieldTestMapstructEntity.byteImageEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteImageEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteImageRequiredEva">Byte Image Required Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteImageRequiredEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteImageRequiredEvaContentType, vm.fieldTestMapstructEntity.byteImageRequiredEva)">
                    <img data-ng-src="{{'data:' + vm.fieldTestMapstructEntity.byteImageRequiredEvaContentType + ';base64,' + vm.fieldTestMapstructEntity.byteImageRequiredEva}}" style="max-width: 100%;" alt="fieldTestMapstructEntity image"/>
                </a>
                {{vm.fieldTestMapstructEntity.byteImageRequiredEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteImageRequiredEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteImageMinbytesEva">Byte Image Minbytes Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteImageMinbytesEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteImageMinbytesEvaContentType, vm.fieldTestMapstructEntity.byteImageMinbytesEva)">
                    <img data-ng-src="{{'data:' + vm.fieldTestMapstructEntity.byteImageMinbytesEvaContentType + ';base64,' + vm.fieldTestMapstructEntity.byteImageMinbytesEva}}" style="max-width: 100%;" alt="fieldTestMapstructEntity image"/>
                </a>
                {{vm.fieldTestMapstructEntity.byteImageMinbytesEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteImageMinbytesEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteImageMaxbytesEva">Byte Image Maxbytes Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteImageMaxbytesEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteImageMaxbytesEvaContentType, vm.fieldTestMapstructEntity.byteImageMaxbytesEva)">
                    <img data-ng-src="{{'data:' + vm.fieldTestMapstructEntity.byteImageMaxbytesEvaContentType + ';base64,' + vm.fieldTestMapstructEntity.byteImageMaxbytesEva}}" style="max-width: 100%;" alt="fieldTestMapstructEntity image"/>
                </a>
                {{vm.fieldTestMapstructEntity.byteImageMaxbytesEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteImageMaxbytesEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteAnyEva">Byte Any Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteAnyEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteAnyEvaContentType, vm.fieldTestMapstructEntity.byteAnyEva)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestMapstructEntity.byteAnyEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteAnyEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteAnyRequiredEva">Byte Any Required Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteAnyRequiredEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteAnyRequiredEvaContentType, vm.fieldTestMapstructEntity.byteAnyRequiredEva)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestMapstructEntity.byteAnyRequiredEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteAnyRequiredEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteAnyMinbytesEva">Byte Any Minbytes Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteAnyMinbytesEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteAnyMinbytesEvaContentType, vm.fieldTestMapstructEntity.byteAnyMinbytesEva)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestMapstructEntity.byteAnyMinbytesEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteAnyMinbytesEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteAnyMaxbytesEva">Byte Any Maxbytes Eva</span></dt>
        <dd>
            <div ng-if="vm.fieldTestMapstructEntity.byteAnyMaxbytesEva">
                <a ng-click="vm.openFile(vm.fieldTestMapstructEntity.byteAnyMaxbytesEvaContentType, vm.fieldTestMapstructEntity.byteAnyMaxbytesEva)" data-translate="entity.action.open">open</a>
                {{vm.fieldTestMapstructEntity.byteAnyMaxbytesEvaContentType}}, {{vm.byteSize(vm.fieldTestMapstructEntity.byteAnyMaxbytesEva)}}
            </div>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteTextEva">Byte Text Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.byteTextEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteTextRequiredEva">Byte Text Required Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.byteTextRequiredEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteTextMinbytesEva">Byte Text Minbytes Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.byteTextMinbytesEva}}</span>
        </dd>
        <dt><span data-translate="travisMysqlApp.fieldTestMapstructEntity.byteTextMaxbytesEva">Byte Text Maxbytes Eva</span></dt>
        <dd>
            <span>{{vm.fieldTestMapstructEntity.byteTextMaxbytesEva}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="field-test-mapstruct-entity-detail.edit({id:vm.fieldTestMapstructEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
